# tasks file for homeflix
---
- name: block - Manage directories tasks
  when: molecule_test | default(true)
  block:
    - name: Create homeflix directories
      file:
        path: "{{ item }}"
        state: directory
        owner: 1000
        group: 1000
        mode: 0755
      loop:
        - "{{ homeflix_apps_volume }}"
        - "{{ homeflix_data_volume }}"

    - name: Create services directories
      file:
        path: "{{ homeflix_apps_volume }}/{{ item.name }}"
        state: directory
        owner: 1000
        group: 1000
        mode: 0755
      loop: "{{ homeflix_docker_services }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Create data directories
      file:
        path: "{{ homeflix_data_volume }}/{{ item }}"
        state: directory
        owner: 1000
        group: 1000
        mode: 0755
      loop: "{{ homeflix_data_folders + homeflix_data_folders_extra }}"
      loop_control:
        label: "{{ item }}"
  tags:
    - update_homeflix_dirs

- name: block - Manage docker compose tasks
  when: molecule_test | default(true)
  block:
    - name: Generate docker compose file
      template:
        src: docker-compose.yml.j2
        dest: "{{ homeflix_apps_volume }}/docker-compose.yml"
        owner: 1000
        group: 1000
        mode: 0644

    - name: Run docker compose
      become: true
      community.docker.docker_compose_v2:
        project_src: "{{ homeflix_apps_volume }}"
        state: present
        remove_orphans: true
        build: never
      register: services_result
  tags:
    - update_docker_compose

- name: Import tasks to configure the services
  when: molecule_test is not defined
  block:
    - import_tasks: config_jellyfin.yml
      tags: update_jellyfin

    - import_tasks: config_qbittorrent.yml
      tags: update_qbittorrent

    - import_tasks: config_radarr_sonarr.yml
      vars:
        service_name: radarr
        service_port: "{{ homeflix_radarr_port }}"
      tags: update_radarr

    - import_tasks: config_radarr_sonarr.yml
      vars:
        service_name: sonarr
        service_port: "{{ homeflix_sonarr_port }}"
      tags: update_sonarr

    - import_tasks: config_prowlarr.yml
      tags: update_prowlarr

    - import_tasks: config_bazarr.yml
      tags: update_bazarr

    - import_tasks: config_recyclarr.yml
      tags: update_recyclarr

    - import_tasks: config_seerr.yml
      tags: update_seerr
